<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Projects Page</title>
  </head>
  <body>
    {{> header}}
    <p>Here is a portfolio of my projects.</p>
  </body>

  {{> footer}}
</html>
